<div class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill video-section" style="background-image: url('{{img}}'); z-index: -99;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 pull-right push-down">
                            <div class="caption">
                                <h1 id="junior_course">{{heading}}</h1>
                                <p>{{text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>