<img class="img-responsive img-thumbnail" src="{{team}}" style="float: right; margin-left: 10px;" alt=" " />

<h3>{{page-heading}}</h3>

<h4>Engagement training</h4>

<p>Engagement training is a way of getting your puppy to pay you more attention and it is done
    in a fun
    and motivational way
    Gaynor will be teach you how to use touch or clicker training to motivate your puppy. This
    will
    prove invaluable as you progress to getting your dog to walk on the lead without
    pulling.</p>

<h4>Follow me</h4>
<p>She will show you how to get your puppy to stay close and look at you. This will help to
    teach your
    puppy not to pull on the lead and is also a foundation training technique for teaching your
    pup to
    come back to you when called.</p>


<h4>Play with a toy</h4>
<p>Playing with a toy is one of the great joys in the life of a puppy. I will show you how to
    harness
    this natural drive and use it to teach the pup how to retrieve the toy and bring it back to
    you.
    This will become a great way of exercising your pup and another way to engage with your
    puppy and
    get him keen to interact with you.</p>


<h4>Prevent jumping up on people</h4>
<p>This is an essential discipline to teach your puppy, Jumping up is learned by the pup at an
    early age
    and many people will accept this behaviour when the pup is little but when your pup is full
    grown it
    becomes unacceptable. I will show you how to get your pup to sit when they meet people. This
    is the
    dog equivalent to good manners.</p>

<div class="alert alert-success">
    Over the course of the six weeks on the junior course you will be developing your knowledge
    of
    engagement training and improving your relationship with your puppy, preparing the pup for
    the
    future training throughout their lives.
</div>