<div class="callout callout-info" style="margin: 0;">
    <h3>Jeanette and Mbali</h3>

    <p>Gaynor is so inspirational and the support & guidance is outstanding. With a young puppy
        it's so
        hard to remember everything you need to do whilst training but the patience and
        reassurance from
        Gaynor and her team makes training so much fun and rewarding.</p>

    <img src="{{ this }}" class="img-thumbnail img-responsive" style="margin-bottom: 10px;">

    <p>Such a professional, well organised setup and carrying incredible high standard however
        still
        with a friendliness, approachability and warmth I can't recommend highly enough. I truly
        feel
        privileged to be able to participate in the training courses. Hats off, and credit where
        credit
        is due. Gaynor Probert......omg she's good!</p>
</div>