<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Gaynor Probert</a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">

                        <li class="">
                            <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                        </li>

                        <li class="">
                            <a href="/behavioural-consultations/" class="dropdown-toggle"
                                data-toggle="dropdown">Consultations
                                <b class="caret hidden-xs"></b></a>
                            <ul class="dropdown-menu hidden-xs">
                                <li><a href="/behavioural-consultations-dog-on-dog-aggression/">Dog-on-Dog
                                        Aggression</a></li>
                                <li><a href="/behavioural-consultations-dog-on-person-aggression/">Dog-on-Person
                                        Aggression</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="/courses/" class="dropdown-toggle" data-toggle="dropdown">Courses <b
                                    class="caret hidden-xs"></b></a>
                            <ul class="dropdown-menu hidden-xs">
                                <li><a href="/course-puppy/">Puppy Socialisation</a></li>
                                <li class="divider"></li>
                                <li><a href="/course-junior/">Junior Course</a></li>
                                <li><a href="/course-bronze/">Bronze Obedience</a></li>
                                <li><a href="/course-silver/">Silver Obedience</a></li>
                                <li><a href="/course-gold/">Gold Obedience</a></li>
                                <li><a href="/course-platinum/">Platinum Obedience</a></li>
                                <li class="divider"></li>
                                <li><a href="/one-to-one/">One to One</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="/about-philosophy/" class="dropdown-toggle" data-toggle="dropdown">About Us <b
                                    class="caret hidden-xs"></b></a>
                            <ul class="dropdown-menu hidden-xs">
                                <li><a href="/about-facilities/">Facilities</a></li>
                                <li><a href="/about-gaynor-probert/">Gaynor Probert</a></li>
                                <li><a href="/about-sara-thomas/">Sara Thomas</a></li>
                            </ul>
                        </li>

                        <li><a href="/find-us/"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>

                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>