{{#extend "default"}}
    {{#content "main" mode="append"}}
<section class="content-section video-section" style="background-image: url('/images/index/gaynor-probert-home-v1.1.png');">
      <div class="pattern-overlay">
      <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=XAHaVETM1sE', containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1, ratio: '16/9', loop:false}">bg</a>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>A well behaved dog</h1>
<h2>is a joy to live with</h2>
<h3>
	Gaynor Probert at A1K9 Behaviour and Training Academy. <br />
	Improving relationships between dogs and their owners through <strong>behaviour modification</strong> and <strong>training</strong>.
</h3>

         </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="container marketing">

  <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Behavioural Consultations</h2>
<p class="lead">Behavioural problems are a sign that the relationship with your dog is off balance. Gaynor Probert <strong>CFBA practitioner of the year 2014</strong> has the skills and the experience to give you the specialist help that is required to find the quickest way to that happy relationship that you have always wanted.</p>

    <div style="margin-bottom: 10px;"><a href="/behavioural-consultations/index.html" class="btn btn-primary btn-lg">Find out more <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="{{image-one}}" alt="A1K9 dog training academy">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="{{image-two}}" alt="A1K9 Dog Training calss" style="margin-top: 15px;">
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading" style="margin-top: 0px;">Dog Obedience Training</h2>

<p><strong><a href="/course-puppy/">Puppy Socialisation classes</a></strong> - Gaynor Probert will teach you the most important aspects of your dog's education and how to help him develop into the well behaved and balanced pet you have always wanted. Clicker training is one of the ways she achieves this, it is good fun and all the family can join in.</p>

<p><strong><a href="/course-junior/">Junior Course</a></strong> - The junior course is especially developed for young puppies between the ages of 5 to 9 months and is suitable for all breeds of dogs it is a natural progression from puppy classes.</p>

<p><strong><a href="/course-bronze/">Bronze Obedience Course</a></strong> - How to teach your dog to walk on a slack lead without pulling and to come back when called are the two priorities in this course. We also teach you how to prevent your dog barging through the door first when you are going out.</p>

<p><strong><a href="/course-silver/">Silver Obedience Course</a></strong> - In this course you learn how to train your dog to go at your pace and to come back to you when there are distractions around. You will also be taught how to get your dog to stay when told. It is in this course that we start the agility training, an activity that the dogs love.</p>

<p><strong><a href="/course-gold/">Gold Obedience Course</a></strong> - In this course you will learn how to get your dog to walk by your side off lead and come back to your side when you are walking. We add another interest, how to get your dog to find his toy when it is amongst others, The agility training continues, which your dog will love.</p>

<p><strong><a href="/course-platinum/">Platinum Obedience Course</a></strong> - Some of the techniques taught on this course are - changing pace while weaving through people and their dogs, staying while you go out of sight and distance control and emergency down. The agility training is now done off lead as you now have full control of your dog.</p>

<p><strong><a href="/course-platinum/">One to One</a></strong> - A one to one with Gaynor Probert offers you a unique opportunity to expand your understanding of your dog and to address any obedience that you may be having problems with.</p>

  </div>
</div>

<hr class="featurette-divider">

<h2>Gaynor is</h2>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A practitioner with the <a href="http://www.cfba.co.uk/" target="_blank">Canine and Feline Behaviour Association</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.cfba.co.uk/gaynorprobert.html" target="_blank"><img class="img-responsive" src="/images/about/CFBA-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>These Middlesex University accredited dog behaviour and training accreditations represent the highest leves of specific canine behavior qualifications available in Britain today.</p>
					<p>They are one of the few associations that are recognised by dog insurance companys for canine behavioural problems.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.cfba.co.uk/gaynorprobert.html" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A full Member of the&nbsp;<a href="http://bipdt.org.uk/" target="_blank">British Institute of Professional Dog Trainers</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://bipdt.org.uk/" target="_blank"><img class="img-responsive" src="/images/about/BIPDT-V1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>Founded in 1974 to improve the standards of care and understanding, conditions and training of working and pet dogs, it is the longest established governing body in this field of work.These certificates are not award lightly. MBIPDT is the highest award of the institute and qualifies members to teach at the highest level.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://bipdt.org.uk/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A Master Trainer with the&nbsp;<a href="http://www.godt.org.uk/" target="_blank">Guild of Dog Trainers</a></h3>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.godt.org.uk/" target="_blank"><img class="img-responsive" src="/images/about/guild-of-dog-trainers-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>The Guild of dog trainers is an independant professional body whose values include being commited to maintainin and improving the quality of dog training, behaviour and companion dog ownership in Britain. Master trainer is the highest level of certification and qualifies recipients to teach at the highest level.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.godt.org.uk/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h3 style="height: 100px;">A member of the&nbsp;<a href="http://www.ntipdu.org/" target="_blank">National Training Inspectorate for Professional Dog Users</a></h3>
		
		<p></p>
		<div class="thumbnail">
			<div class="thumbnail-img-content">
				<a href="http://www.ntipdu.org/" target="_blank"><img class="img-responsive" src="/images/about/NTIPDU-v1.png" /></a>
			</div>
			<div class="thumbnail-content">
				<div>
					<p>The NTIPDU was formed to promote professionalism, set and maintain standards and to assist all governing bodies within the security industry, it has progressed through the years and with the input of goverment departments is now a leader in the development of canine related courses.</p>
				</div>
				<div>
					<a class="btn btn-success btn-sm" href="http://www.ntipdu.org/" target="_blank">Website</a>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">

  <div class="col-lg-4" style="text-align: center;">
    <a href="https://www.facebook.com/A1K9PDT?fref=ts"  target="fb"><img class="img-circle" src="/images/index/facebook-v1.png" alt="Find us on Facebook"></a>
    <h2><a href="https://www.facebook.com/A1K9PDT?fref=ts"  target="fb">Facebook</a></h2>
    <p>Follow me on facebook for our most recent photos, stories, interesting links, etc.</p>
    <p><a class="btn btn-default" href="https://www.facebook.com/A1K9PDT?fref=ts" role="button" target="fb">Open Page &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4"  style="text-align: center;">
    <a href="/find-us/"><img class="img-circle" src="/images/index/find-us-v1.png" alt="How to find A1K9"></a>
    <h2><a href="/find-us/">Find Us</a></h2>
    <p>Directions on how to find us.</p>
    <p><a class="btn btn-default" href="/find-us/" role="button">Find Us &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4"  style="text-align: center;">
    <a href="tel:+447798500390"><img class="img-circle" src="/images/index/tel-v1.png" alt="Call Me"></a>
    <h2><a href="tel:+447798500390">Call Me</a></h2>
    <p>If you would like more information about anything that you have read, I would love to hear from you!</p>
    <p><a class="btn btn-default sendmail" href="tel:+447798500390" role="button">Telephone &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

</div><!-- /.row -->


  <hr class="featurette-divider">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 Gaynor Probert <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
  </footer>

</div>
{{/content}}
{{/extend}}
