<html lang="">

<head>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    <title>K9</title>
</head>

<body>
    {{#block "header"}}
    {{> layout/navbar }}
    {{/block}}

    {{#block "main" }}{{/block}}

    {{#block "footer"}}
    {{> layout/footer }}
    {{/block}}
</body>

</html>